@keyframes footerSlider {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}

@keyframes heightSlider {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}


@keyframes widthSlider {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes nameBorder--vertical {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes nameBorder--horizontal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes subtitlesBg {
  0% {
    width: 0;
    height: 0;
  }
  1% {
    height: 1px;
    width: 1%;
  }
  50% {
    height: 1px;
    width: 100%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}