$nameBackgroundHeight: calc(50% - 200px / 2);

.landingPage {
  height: 100%;
  width: 100%;
  position: relative;

  &__content {
    height: 100%;
    width: 100%;
    background: $mainBg;

    .title {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100%;
      @include tablet {
        margin-left: 20px;
      }

      &__name {
        color: $mainText;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        height: 50vh;
        font-size: 70px;
        @include tablet {
          font-size: 100px;
        }

        &__slider {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 100%;
          z-index: 3;
          background: $mainText;
          animation: heightSlider .8s ease-in-out;
          animation-fill-mode: both;

        }
        &__text {
          position: absolute;
          bottom: 50px;
          z-index: 1;
          padding-right: 10px;
          padding-bottom: 10px;
          &::before {
            content: "";
            height: 0;
            width: 2px;
            right: 0;
            top: 0;
            position: absolute;
            background: $mainText;
            animation: nameBorder--vertical .5s linear;
            animation-fill-mode: both;
            animation-delay: .8s;

          }
          &::after {
            content: "";
            height: 2px;
            width: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            background: $mainText;
            animation: nameBorder--horizontal .5s linear;
            animation-fill-mode: both;
            animation-delay: 1.3s;
          }
        }
      }

      &__profession {
        position: relative;
        height: 100%;
        padding-bottom: 100vh - $nameBackgroundHeight;
        z-index: 1;

        &__text {
          z-index: 1;
          position: relative;
          font-size: 30px;
          color: $mainText;
          padding: 20px 10px;
          text-transform: uppercase;
          width: 864px;
          @include tablet {
            font-size: 35px;
          }
          &::before {
            content: "";
            height: 0;
            width: 2px;
            left: 0;
            top: 0;
            position: absolute;
            background: $mainText;
            animation: nameBorder--vertical .5s linear;
            animation-fill-mode: both;
            animation-delay: .8s;
          }
          &::after {
            content: "";
            height: 2px;
            width: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            background: $mainText;
            animation: nameBorder--horizontal .5s linear;
            animation-fill-mode: both;
            animation-delay: 1.3s;
          }
        }

        &__subSlider {
          position: absolute;
          top: 0;
          height: 75px;
          width: 100%;
          z-index: 2;
          background: $mainBg;
          animation: widthSlider .8s ease-in-out;
          animation-delay: .8s;
          animation-fill-mode: both;
        }

        &__slider {
          height: 100%;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 3;
          background: $mainBg;
          animation: heightSlider .8s ease-in-out;
          animation-fill-mode: both;
        }
      }

    }
  }
}



