.landingPage {
  height: 100%;
  width: 100%;
  position: relative;

  &__content {
    height: 100%;
    width: 100%;
    background: #f3f3f5;

    .title {
      position: absolute;
      top: calc(50% - 200px / 2);
      width: 100%;

      &__name {
        color: #171717;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        font-size: 70px;
        @include tablet {
          font-size: 100px;
        }


      }

      &__slider {
        position: relative;
        height: 100px;

        &__text {
          z-index: 2;
          position: relative;
          font-size: 35px;
          color: #f3f3f5;
          padding-top: calc(35px / 2);
        }

        &__bg {
          background: #272727;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          //animation: slideTitle 3s ease-in-out;
          //animation-fill-mode: both;
        }


      }

    }

  }
}

@keyframes slideTitle {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }

}
