.projects {
  background: $mainBg;
  width: 100%;
  height: 100%;
  color: $mainBg;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;


  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    z-index: 5;
    margin: 0 3vw;
    @include tablet {
      width: 100%;
      height: 100%;
    }


    &__teaser {
      height: 100%;
      width: 100%;
      @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .box {
        height: 200px;
        width: 140px;
        position: relative;
        transition: .7s;
        background-size: cover;

        &__bgSlider {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          background: $mainBg;
          z-index: 4;
        }

        &__imageInfo {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          color: $mainBg;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: .3s;
          background: rgba(35, 35, 35, .7);
          z-index: 8;
          &:hover {
            opacity: 1;
          }

          &__text {
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            animation: pulse 3s infinite;
          }
        }

        &__content {
          position: absolute;
          top: 0;
          z-index: 2;
          margin-left: 5px;
          opacity: 0;
          display: none;
          background: rgba(35, 35, 35, .9);
          height: 100%;
          @include tablet {
            margin-left: 20px;
          }

          &__icons {
            font-size: 70px;
            width: 100%;
            text-align: center;
            margin: 30px 0;
            @include tablet {
              font-size: 100px;
            }

            &__elem {
              text-decoration: none;
              color: $mainBg;
              margin: 0 20px;
              @include tablet {
                margin: 0 100px;
              }
            }

          }

          .title {
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 20px;
            @include tablet {
              font-size: 50px;
            }

            &__details {
             line-height: 20px;
              width: 80%;
              @include tablet {
                line-height: 30px;
                font-size: 25px;
              }
              @media (max-width: 330px) {
                font-size: 12px;
              }

              &__elem {
                margin-top: 20px;
                @include tablet {
                  margin-top: 50px;
                }

                &.list {
                  font-size: 20px;
                  font-weight: 500;
                  @include tablet {
                    font-size: 30px;
                  }

                  li {
                    margin-top: 10px;
                    font-size: 1rem;
                    font-weight: 400;
                    @include tablet {
                      font-size: 25px;
                      margin-top: 25px;
                    }
                    @media (max-width: 330px) {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
        &__backBtn {
          position: absolute;
          bottom: 3vh;
          left: 3vw;
          cursor: pointer;
          z-index: 10;
          border: none;
          background: transparent;
          color: $mainBg;
          font-size: 30px;
          @include tablet {
            font-size: 45px;
          }

        }
      }
    }
  }
  &__titles {
    font-size: 120px;
    position: relative;

    &__slider {
      position: absolute;
      height: 100%;
      width: 100%;
      background: $mainBg;
      top: 0;
      right: 0;
    }

    .name {
      color: $mainText;
      display: none;
      @include tablet {
        display: block;
      }
      &__elem {
        display: block;
      }
    }
    .number {
      color: $mainText;
      font-size: 70px;
      text-align: right;
      margin-top: 40px;
      @include tablet {
        align-self: center;
        font-size: 120px;
      }
    }
  }
}

.opacityAnimation {
  animation: opacityAnimation 2s;
  animation-fill-mode: both;
}

.opacityAnimationSliders {
  animation: opacityAnimation 1s;
  animation-fill-mode: both;
}

.widthSlider {
  animation: widthSlider 1.3s ease-in;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.heightSlider {
  animation: heightSlider 1.3s ease-in;
  animation-delay: 2.3s;
  animation-fill-mode: both;
}
